CompileFlags:
  Add: [-std=c++17, -Wall, -Werror, -Wpedantic]

InlayHints:
  BlockEnd: true
  Designators: false
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24

Completion:
  HeaderInsertion: IWYU

Hover:
  ShowAKA: true

If:
  PathMatch: (./.*\.cpp|./.*\.hpp)
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
