BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 120

BreakBeforeBraces: Attach
BraceWrapping:
  BeforeCatch: true
  BeforeElse: false
  BeforeWhile: false
  BeforeLambdaBody: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true

NamespaceIndentation: All
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Never

SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeInheritanceColon: true
SpacesBeforeTrailingComments: 1

AlignTrailingComments: true

AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: false

AlignConsecutiveDeclarations: Consecutive
AlignAfterOpenBracket: AlwaysBreak

ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: NextLineOnly
BreakConstructorInitializers: BeforeColon

BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false

AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None

Cpp11BracedListStyle: false
BreakArrays: false

IncludeBlocks: Regroup
SortIncludes: true

ReflowComments: false
KeepEmptyLinesAtTheStartOfBlocks: true
